/* 
Option 2 for connecting google fonts
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300;400;700&display=swap'); */

* {
    box-sizing: border-box;
    /* margin: 0; */
    /* padding: 0; */
}

/* GLOBAL STYLES */
a {
    text-decoration: none;
}

label {
    display: block;
}

.float-left {
    float: left;
}
.clearfix {
    clear: both;
}
/* * END OF GLOBAL STYLES * */

body {
    margin: 0;
}
body, h1.heading-font > span {
    font-family: 'Roboto', sans-serif;
}

.heading-font {
    font-family: 'Lobster', cursive;
    
}

h1.heading-font > span {
    font-weight: 300;
}

header > h1, footer p, .img-wrapper h1 {
    text-align: center;
}

/* .small-img {
    width: 300px;
    height: 300px;
} */
nav, footer {
    background-color: lightblue;
}
nav > ul > li {
    display: inline-block;
    margin: 0 14px;
}
.img-wrapper {
    height: 500px;
    background-image: url("../img/Japan-mount-fuji-sakura-temple.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.imgwrapper {
    width: 100%;
     
}
.input-wrapper {
    margin: 12px 0;
}
footer {
    height: 300px;
}
footer .social-links {
    padding: 100px 0;
}
footer .social-links i {
    font-size: 30px;
}
footer .social-links > p >  a {
    margin: 0 40px;
    color: #000;
}
footer .social-links  a:hover {
    color: #fff;
}